/* Colors: */

// Text:
$icons-color:                       #949494;
$caption-of-empty-blocks-color:     #777777;

// Other:
$border-color-categories-tree:      #dddddd;
$border-color-tasks-list:           #dddddd;
$selected-category-color:           #f5f5f5;
$selected-category-dropdown-color:  #ffffff;
$dropdown-border-color:             rgba(0,0,0,0.15);


/* Margins */

$margin-x-small-vertical:           .5rem;
$margin-small-vertical:             .7rem;
$margin-base-vertical:              1.5rem;

$margin-xx-small-horizontal:        .5rem;
$margin-x-small-horizontal:         1rem;
$margin-small-horizontal:           3%;


/* Heights: */

$list-group-height:                 70rem;
$list-group-small-height:           42rem;
$input-height:                      4rem;


/* Widths: */

$max-width-for-small-screen:        65%;
$max-width-modal:                   40rem;
$max-width-input-todo-modal:        30rem;
